# Archivo para ignorar archivos y carpetas en Git

# Dependencias
/node_modules
/private/node_modules

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno
# ¡NUNCA subas archivos .env a un repositorio!
.env
.env.*
!.env.example

# Archivos de base de datos
*.sqlite

# Archivos del sistema operativo
.DS_Store
Thumbs.db
